<h1>Invoice{{user.invoiceId}}</h1>
<div class="card card-body">
    <table class="table table-responsive table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>ParkingZone</th>
                <th>Parking Start</th>
                <th>Parking End</th>
                <th>Total To Pay</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let invoice of userInvoices">
                <td>{{invoice.parkLotName}}</td>
                <td>{{invoice.startTime}}</td>
                <td>{{invoice.endTime}}</td>
                <td>{{invoice.fee}}$</td>
            </tr>
            <tr>
                <td><b>Subscription Type</b></td>
                <td><b>{{user.userType}}</b></td>
                <td></td>
                <td><b>{{userFees.userSubFee}}$</b></td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td *ngIf="userInvoices.totalFee <= 300 || userFees.userMaxInvoice == 0; else elseBlock"><b>{{userInvoices.totalFee}}$</b></td>
                <ng-template #elseBlock><td><b>{{userFees.userMaxInvoice}}$</b></td></ng-template>
            </tr>
        </tbody>
    </table>
</div>
<button class="button button-primary" (click)="backToUser()">Back To User</button>