.p-user-card-data {
    text-align:center;
    color: #E50000;
    background-color: #FFF1D0;
}
.p-user-card{
    border: 1px solid #E50000;
    margin: 1.5%;
    width: 30%;
}
.p-user-card button {
    margin-bottom: 5%;
    border-radius: 5%;
    background-color: #FFF1D0;
    color:#E50000;
    border-color: #E50000;
}
.p-user-card button:hover {
    opacity:0.3;
}