<div class="container-fluid">  
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-user-card" *ngFor="let user of usersids">
      <div class="row p-user-card-data">
        <h2>User With ID: {{user.userId}}</h2>
      </div>     
      <div class="row p-user-card-data">
        <button class="btn btn-primary" (click)="userSelected(user.userId, user.userType)">Select</button>
      </div>
    </div>
</div>