h4 {
    width:50%;
    padding-left:3%;
    color: #E50000 !important;
}
h2 {
    display:block;
    width:50%;
    padding-left:2%;
    color: #E50000 !important;
}
button {
    margin-left:2%;
    background-color: #FFF1D0;
    color:#E50000;
    border-color: #E50000;
    margin-bottom: 1%;
}
button:hover {
    opacity:0.3;
    background-color: #FFF1D0;
    color:#E50000;
    border-color: #E50000;
}

table {
    width:70%;
    margin-left:2% !important;
}
table, th, td {
    color: #E50000;
    border: 1px solid #E50000 !important;
}
.container {
    border: 1px solid #E50000;
    background-color:#FFF1D0;
}