<div class="container">
    <h2>Hello {{userData.userName}} </h2>
    <h4>Your unique user id is {{userData.userId}}</h4>
    <h4>You are a {{userData.userType}} user</h4>
    <h4 *ngIf="userData.userStatus == 1">Your user status is Active</h4>
    <h4 *ngIf="userData.userStatus != 1">Your users status is Deactivated</h4>
    <h4 *ngIf="userData.userType != 'Regular'"> Your Subscription Fee is: {{userData.userSubFee}}$</h4>
    <h4 *ngIf="userData.userType != 'Regular'"> Your Max Invoice is: {{userData.userMaxInvoice}}$</h4>
    <h4 *ngIf="userData.userType == 'Regular'">Regular users do not have subscription fee and maximum invoice feature</h4>
    <div class="card card-body">
        <table class="table table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>ParkingName</th>
                    <th>Parking Day Fee (7am-7pm)</th>
                    <th>Parking Night Fee (7pm-7am)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parking of Parkings">
                    <td scope="row">{{parking.parkingName}}</td>
                    <td>{{parking.priceDay}}$</td>
                    <td>{{parking.priceNight}}$</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" (click)="generateInvoice()">Generate Invoice</button>
</div>