nav {
    background-color: #FFF1D0 !important;
    border-color: #FFF1D0!important;
    border-bottom-color: #E50000 !important;
    border-radius: 0px !important;
}
nav  a {
    color: #E50000 !important;
}
nav a:hover {
    color: #DB3069 !important;
}